<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <p>Hello <span th:text="${prenom}">prenom</span>,</p>
    <p>Tu avais voté pour <span th:text="${choix}">choix</span> sur le site https://bb.lhoir.me et tu avais raison !!</p>
    <p>Féliciations !!!</p>
    <p>Maintenant, montres nous que tu nous connais bien en devinant le prénom de notre petit pois !</p>
    <p>Tu peux suivre ce <a th:href="@{https://bb.lhoir.me/name(user=__${urlUser}__)}">lien magique</a> <br />
        ou simplement te rendre sur le site https://bb.lhoir.me.</p>
    <p>Il y aura une petite récompense pour le grand gagnant !!</p>
    <p>A très vite !</p>
    <p>Debby & Simon</p>

</div>

</body>
</html>