<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <p>Hello <span th:text="${prenom}">prenom</span>,</p>
    <p>Tu avais voté pour <span th:text="${choix}">choix</span> sur le site https://bb.lhoir.me mais finalement c'est <span th:text="${resultat}">resultat</span> !!</p>
    <p>Pas de chance !</p>
    <p>Mais rassures toi, tu vas pouvoir te rattraper en devinant le prénom de notre petit pois !</p>
    <p>Tu peux voter en suivant ce <a th:href="@{https://bb.lhoir.me/name(user=__${urlUser}__)}">lien magique</a> <br />
        ou simplement en allant sur le site https://bb.lhoir.me</p>
    <p>Il y aura une petite récompense pour le grand gagnant !!</p>
    <p>A très vite !</p>
    <p>Debby & Simon</p>

</div>

</body>
</html>